*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bluebox{
    width: 300px;
    height: 400px;
    background-color: steelblue;
    position: relative;
}
.yellowbox{
    background-color: rgb(233, 233, 15);
    width: 200px;
    height: 200px;
    position: absolute;
    left: 30px;
    top: 90px;
}
img{
    position: absolute;
    z-index: -1;
}