/* 1.Universal Selector */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:thistle;
}

/* 2.TagName Selector */
h1 {
    color: aqua;
}

/* 3. IdName Selector */
#header {
    color: red;
}

/* 4. ClassName Selector */
.container {
    text-align: center;
}

/* 5. Grouping  Selector*/

h1,p,.container{
    background-color: cadetblue;
}