*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer{
    position: relative;
}


img{
    position: absolute;
    z-index: -1;
}

h1::before{
    content: " this is after ";
    color: red;
}

