*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 97%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    border: 3px dashed gray;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px;
}
.box{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: orangered;
}

.box-1,.box-4,.box-5{
    background-color: thistle;
}



