*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 30px; */
}

.slide{
    color: tomato;
    transition: color 0.3s,transform 0.5s;
}


.slide:hover{
    cursor: pointer;
    color: steelblue;
    transform: translateX(50px);
}

.zoom{
    color: slategray;
    transition: transform 0.3s;
}

.zoom:hover{
    cursor: pointer;
    transform: scaleX(3);
}

.fade{
    color: green;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.fade:hover{
    cursor: pointer;
    opacity: 0.1;
}

.bounce{
    display: block;
    color: violet;
    transition: bounce 0.3s;
    animation: bounce 2s linear  infinite  alternate-reverse;
}

@keyframes bounce {
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-20px);
    }
}