*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 40px;
    font-family: Arial;
    background: #f4f4f4;
  }

  .box {
    width: 200px;
    height: 200px;
    position: absolute;
    opacity: 0.9;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box1 {
    background: red;
    top: 50px;
    left: 50px;
    z-index: 1;
  }
 
  .box2 {
    background: green;
    top: 100px;
    left: 100px;
    z-index: 2;
  }

  .box3 {
    background: blue;
    top: 150px;
    left: 150px;
    z-index: 3;
  }