*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
body,.container{
    min-height: 100vh;
    background-color: aquamarine;
}
.container{
    display: flex;
}
header{
    flex: 1;
    background-color: cornflowerblue;
    border-radius: 4em;
}

section{
    flex: 4;
    border-radius: 4em;
    display: flex;
    gap: 2em;
   
}

.col-left{
    flex: 2;
    border-radius: 4em;
    background-color: tomato;
}

.col-right{
    flex: 1;
    border-radius: 4em;
    background-color:thistle;
}

.second>section{
    flex-direction: row-reverse;
}

footer{
    flex: 1;
    border-radius: 2em;
    background-color: rgb(red, green, blue);
    flex-direction: column;
}

@media(max-width:960px){
    section,.container,.second section{
       flex-direction: column;
    }
}